<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Web.LoginServlet</servlet-class>
</servlet>
    <servlet>
        <servlet-name>GradeListServlet</servlet-name>
        <servlet-class>Web.GradeListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradeDeleteServlet</servlet-name>
        <servlet-class>Web.gradeDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gradeSaveServlet</servlet-name>
        <servlet-class>Web.GradeSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentListServlet</servlet-name>
        <servlet-class>Web.StudentListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradeComboListServlet</servlet-name>
        <servlet-class>Web.GradeComboListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDeleteServlet</servlet-name>
        <servlet-class>Web.StudentDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentSaveServlet</servlet-name>
        <servlet-class>Web.StudentSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseListServlet</servlet-name>
        <servlet-class>Web.CourseListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseSaveServlet</servlet-name>
        <servlet-class>Web.CourseSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScoreListServlet</servlet-name>
        <servlet-class>Web.ScoreListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScoreSaveServlet</servlet-name>
        <servlet-class>Web.ScoreSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DrawImageServlet</servlet-name>
        <servlet-class>Web.DrawImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>Web.LogOutServlet</servlet-class>
    </servlet>



    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradeListServlet</servlet-name>
        <url-pattern>/gradeList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradeDeleteServlet</servlet-name>
        <url-pattern>/gradeDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gradeSaveServlet</servlet-name>
        <url-pattern>/gradeSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentListServlet</servlet-name>
        <url-pattern>/studentList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradeComboListServlet</servlet-name>
        <url-pattern>/gradeComboList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDeleteServlet</servlet-name>
        <url-pattern>/studentDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSaveServlet</servlet-name>
        <url-pattern>/studentSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseListServlet</servlet-name>
        <url-pattern>/courseList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseSaveServlet</servlet-name>
        <url-pattern>/courseSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScoreListServlet</servlet-name>
        <url-pattern>/scoreList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScoreSaveServlet</servlet-name>
        <url-pattern>/ScoreSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DrawImageServlet</servlet-name>
        <url-pattern>/DrawImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>AutoLoginFilter</filter-name>
        <filter-class>Filter.AutoLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutoLoginFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
</web-app>